<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :firstname %><br />
  <%= f.text_field :first_name, :autocomplete => true %></div>

  <div><%= f.label :lastname %><br />
  <%= f.text_field :last_name, :autocomplete => true %></div>

  <div><%= f.label :current_education %><br />
  <%= f.text_field :education, :autocomplete => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
   <%= f.text_field :latitude,:value => "0"%>
   <%= f.text_field :longitude,:value => "0"%>
<% end %>

<%= render "devise/shared/links" %>
</div>