<div class="container" id="contain">
	<h1> <%= @project.title %> </h1>
	<p><strong>Date:</strong><%= @project.date %></p>
	<p><strong>Type:</strong><%= @project.type_of_project %></p>
	<p><strong>Role:</strong><%= @project.role %></p>
	<p><strong>Date:</strong><%= @project.date %></p>
	<p><strong>Achievements:</strong><%= @project.achievements %></p>
	<p><strong>Description:</strong><%= @project.description %></p>
	<p><strong>Contributors:</strong><%= @project.contributors %></p>


</div>
