<% provide(:title, "My profile") %>
<div class="container" id="usercontainer">

<h2><em><%= @user.first_name %> <%= @user.last_name %></em></h2>
	<div id="userbox">
		<h1>About <%= @user.first_name %></h1>
		<p> <%= @user.Bio %> </p>
	</div>
	<div id="userbox">
		<h1>Projects<h1>
		<% @projects.each do |project| %>
		<h3><%= project.title %></h3>
		<p><strong>Date:</strong><%= project.date %></p>
		<p><strong>Type:</strong><%= project.type_of_project %></p>
		<p><strong>Role:</strong><%= project.role %></p>
		<p><strong>Date:</strong><%= project.date %></p>
		<p><strong>Achievements:</strong><%= project.achievements %></p>
		<p><strong>Description:</strong><%= project.description %></p>
		<p><strong>Contributors:</strong><%= project.contributors %></p>
		<%end%>

	</div>
	<div id="userbox">
		<h1>Resume</h1>
		<%= link_to "Click to see resume", @user.resume.url  %>

	</div>


</div>