a<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container" id="headercontainer">
			<em><%= link_to "AlaCon", "/", :id => "logo" %></em>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",   "/"   %>  </li>			
						<% if user_signed_in? %>
						<li><%= link_to "Index",  user_index_path   %>  </li>
						<!-- Bio start-->
						<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						My Bio <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", "/bio/show"%>
							<li><%= link_to "Edit", "/bio/edit" %>
						</ul>
					 	</li>
					 	<!-- Bio end-->

					 	<!-- resume starts -->

					 	<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Resume <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", resume_show_path %>
							<li><%= link_to "Edit", resume_edit_path %>
						</ul>
					 	</li>

					 	<!-- resume ends -->
					 	<!-- project starts -->

						 <li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Projects <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Add", new_project_path %> </li>
							<li><%= link_to "My projects", projects_path %>  </li>
						</ul>
					 	</li>

						 <!-- projects end -->
						<!-- account starts -->
						<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Account <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "My Profile",  current_user   %>  </li>
						<li><%= link_to "Settings", edit_user_registration_path(current_user) %>
<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>  </li>
						</ul>
					 	</li>

						<!-- account ends -->
						<!-- search form starts -->

		
				<%= form_tag  staticpages_search_path, method: "get",  :class=>"navbar-form pull-right" do %>
				<%= text_field_tag :search, params[:search], :class => "search-query" %>
				<% end %>
				

						<!-- search form ends -->
						
						<% end %>
					</ul>
				</nav>
		</div>
	</div>
</header>