<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "AlaCon", "/", :id => "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",   "/"   %>  </li>
						<li><%= link_to "About",   "#"   %>  </li>
						<li><%= link_to "Contact",   "#"   %>  </li>
						<% if user_signed_in? %>
						<!-- Bio start-->
						<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						My Bio <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", "/bio/show"%>
							<li><%= link_to "Edit", "/bio/edit" %>
						</ul>
					 	</li>
					 	<!-- Bio end-->

					 	<!-- resume starts -->

					 	<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Resume <b class="caret"></b>
						</a> 
						<ul class="dropdown-menu" id="dropdown-menu2">
							<li><%= link_to "Show", resume_show_path %>
							<li><%= link_to "Edit", resume_edit_path %>
						</ul>
					 	</li>

					 	<!-- resume ends -->

						<li><%= link_to "Projects",   "#"   %>  </li>
						<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>  </li>
						<% end %>
					</ul>
				</nav>
		</div>
	</div>
</header>