<script type="text/javascript">

var map;
var worldcenter = new google.maps.LatLng(30,-10);
var pos;
var latitude;
var longitude;
var markers = new Array();
var inc = 0;

function initialize() {
  var mapOptions = {
    zoom: 3,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
  map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
  map.setCenter(worldcenter);
  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
       pos = new google.maps.LatLng(position.coords.latitude,
                 position.coords.longitude);

  latitude = pos.lat();
  longitude = pos.lng();

  var f1 = document.getElementById("f1");
  var f2 = document.getElementById("f2");

  f1.value = latitude;
  f2.value = longitude;
  


//$(document).ready( 
    $("#coordinateForm").submit(
              
      $.ajax(
        {
          url: $("#coordinateForm").attr("action"),
          type: $("#coordinateForm").attr("method"),
          //dataType: "JSON",
          data: $("#coordinateForm").serialize(),
          complete: function(){
            
          },
          success: function(data,textStatus,xhr){
            //alert($("#coordinateForm").attr("method"))
            var cid = <%=@user.id%>;
            <% @allusers.each do |u| %>
              var id = <%=u.id%>;
              if(id != cid){
                var la = <%=u.latitude%>;
                var lon = <%=u.longitude%>;
                
                var marker = new google.maps.Marker({
                  map: map,
                  position: new google.maps.LatLng(la, lon),
                  draggable: false
                });
                
                google.maps.event.addListener(marker, 'click', function() {
                var firstname = "<%= u.first_name %>";
                var lastname = "<%= u.last_name %>";
                var education = "<%= u.education %>";
var contentString = "<div><p><strong>firstname: </strong>"
+firstname+
"</p><p><strong>Lastname:</strong>"
+lastname+
"</p><p><strong>Education: </strong>"
+education+
"</p><p><strong>"
+ "See profile".link("<%=user_path(u.id)%>") 
+"</strong></div>";
                infobubble = new InfoBubble({maxWidth: 300,content: contentString});
                infobubble.open(map,this);
                  });

              }

              else
              {
                var la = <%=u.latitude%>;
                var lon = <%=u.longitude%>;
                var marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(la, lon),
                icon: "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png",
                draggable: false
              });
                google.maps.event.addListener(marker, 'click', function() {
                      //alert("passing over me");
                  });
                google.maps.event.addListener(marker, 'mouseover', function() {
                      //alert(" over me");
                  });
            }
            <% end %> 
          
          },
          error: function(xhr,textStatus,error) {
              alert(error);
          }
      })//end of ajax
    );//end of submit method

    }, function() {
      handleNoGeolocation(true);
    });

   
  } 
  else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }

}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } 
  else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  } 
}
  
  function initload(){
     /* initializes socket.io client */
      var socket = io.connect('http://process.env.HOST:process.env.PORT');
    socket.on('new post', function(data){
    var $user = JSON.parse(data).user;
    var $post = JSON.parse(data).content;
    $("#atweet").prepend("<div id='posttweet'><p><strong>"+$user+"</strong><em> posted </em></p>"+$post+" </div>");
   });
    }
//window.onload = initload();
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container" id="map">  </div>
<div id = "tweets" class="tweets affix">  <%= render "/shared/tweetform" %>  
<div id="atweet">
<% @alltweets.each do |t| %> 
  <div id="posttweet"> 
  <% @allusers.each do |u| %> 
    <% if t.user_id == u.id %>
    <p><strong><%= link_to u.first_name, user_path(u.id) %></strong> <em>posted at </em> <%= u.updated_at %> </p>
  <%end%>
<%end%>
<p><%= t.content %></p>
</div>
<%end%>
<%= will_paginate @alltweets %>
</div>
</div> 

<%= form_for(@user, :html =>{ :style => "visibility: hidden" ,:id=>"coordinateForm"}) do |f| %>
  <%= f.text_field :latitude, :id => "f1" %><%= f.text_field :longitude,:id => "f2" %><%= f.submit "s",:id=>"f1" %>
<% end %>